.message {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;

  width: fit-content;
}
/* .message__user {
  margin-left: auto;
  color: rgb(231, 17, 17);
  text-align: left;
 
} */

.message__userCard {
  background-color: #120581;
  border-radius: 25px;
  width: fit-content;
}
.message__guestCard {
  background-color: #070000;
  border-radius: 25px;
  width: fit-content;
 align-self: flex-end;
}
